{% extends 'paginas/base.html' %}

{% load static %}

{% block title %}Sair{% endblock %}

{% block content %}

<br>

    <div class="row">
    <div class="col-md-5 mx-auto bg-dark">
        <h2 class="text-white font-weight-bold">Sair</h2>
    <br>
    <p class="lead font-weight-bold text-white">Você tem certeza que deseja sair?</p>
    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        <br>
        <button class="btn btn-danger" type="submit">Sair</button>
        <br>
        <hr>
    </form>
    </div>
    </div>

{% endblock %}
