{% extends 'paginas/base.html' %}

{% load static %}

{% block title %}
Lista Posts IoT.
{% endblock %}

<!-- LISTAGEM DE POSTs EM PROTOCOLOS DE COMUNICAÇÃO IoT -->

{% block content %}
     <div class="container bg-light mt-2">
        <div class="row">
            <div class="col mt-2">
    <h3>Lista de Posts na Base de Dados - Protocolos de Comunicação IoT:</h3>
    <hr>
            <form action="?" method="GET">

                <label for="" class="font-weight-bold">Termo a Procurar:<input type="text" name="title" id=""
                  value="{{request.GET.title}}" class="p-1 border ml-2" autocomplete="off"
                  placeholder="Nome ou Parte do Título"></label>

                <button type="submit" class="btn btn-success ml-2">Buscar</button>

                <a href="{% url 'blogiot:list-iot' %}" class="lead btn btn-warning ml-3">Limpar</a>

            </form>
    <hr>

            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>Autor</th>
                        <th>Título</th>
                        <th>Mensagem</th>
                        <th>Opções</th>
                    </tr>

                    {% for postiot in object_list %}
                        <tr>
                        <td>{{ postiot.author }}</td>
                        <td><a href="{{ postiot.get_absolute_url }}">{{ postiot.title }}</a></td>
                        <td>{{ postiot.body|truncatewords:10 }}</td>
                        <td>
                            <a href="{% url 'blogiot:update-iot' postiot.pk %}" class="btn btn-warning btn-sm" title="Editar">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                                <a href="{% url 'blogiot:delete-iot' postiot.pk %}" class="btn btn-danger btn-sm" title="Excluir">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                        </tr>

                    {% empty %}
                     <tr>
                     <td colspan="3">Nenhum Post registrado neste tópico!</td>
                     </tr>

                    {% endfor %}
                </table>

                    <ul class="pagination justify-content-center">

                        {% if page_obj.has_previous %}

                            {% if request.GET.title %}
                            <li class="page-item"><a class="page-link" href="?page=1&title={{request.GET.title}}">&laquo; Primeira</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}&title={{request.GET.title}}">Anterior</a></li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="?page=1">&laquo; Primeira</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
                            {% endif %}

                        {% endif %}

                        <li class="page-item">
                            <span class="page-link">Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.</span>
                        </li>

                        {% if page_obj.has_next %}

                            {% if request.GET.title %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}&title={{request.GET.title}}">Próxima</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&title={{request.GET.title}}">Última &raquo;</a></li><li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a></li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a></li><li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a></li>
                            {% endif %}

                        {% endif %}

                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
