{% extends 'paginas/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load crispy_forms_filters %}

{% block title %}

{{ titulo }}

{% endblock %}

{% block content %}
     <div class="row">
     <div class="col-auto my-4 mx-auto bg-dark">

    <h3 class="text-white mt-2">{{ titulo_pg }}</h3>

<p class="lead text-white">
    <strong>Preencha todos os campos solicitados:</strong>
 </p>

 <hr>

 <form action="" method="POST" class="lead text-white font-weight-bold">

    {% csrf_token %}

    {{ form|crispy }}

     <hr class="mt-4">

    <button type="submit" class="btn btn-primary mt-2">
      {% autoescape off %}
        {{ icone }}
        {% endautoescape %}
        {{ botao }}
    </button>

    <button type="button" class="btn btn-warning mt-2" onClick="history.go(-1)">Voltar</button>

    <hr class="mt-3">

 </form>

</div>

</div>

{% endblock %}
