{% extends 'paginas/base.html' %}

{% load static %}

{% block title %}
Rank de Postagens.
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <div class="jumbotron">
            <h2 class="display-4 font-weight-bold">RachaQI  <i class="fas fa-globe-americas fa-spin"></i> Para Alunos Univesp</h2>
            <p class="lead font-weight-bold">Não forneça simplesmente a resposta, ensine a pensar</p>
            <hr class="my-4">
            <p class="font-weight-bold">Plataforma de Compartilhamento de Conhecimento</p>
            <p class="font-weight-bold">Aqui listamos os usuários com mais compartilhamentos de respostas.</p>
        </div>
    </div>

{% endblock %}
