{% extends 'paginas/base.html' %}

{% load static %}

{% block title %}
Sobre o Racha QI Univesp.
{% endblock %}

  {% block content %}
<br>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4 font-weight-bold">RachaQI  <i class="fas fa-globe-americas fa-spin"></i></h1>
            <p class="lead font-weight-bold">Não forneça simplesmente a resposta, ensine a pensar!</p>
            <hr class="my-4">
            <h3 class=" lead font-weight-bold">Plataforma de Compartilhamento de Conhecimento</h3>
            <article>
                O sistema RachaQI foi criado para que os Alunos participantes possam colocar suas dúvidas e receber ajuda
                dos colegas para a resolução de problemas relacionados às disciplinas cursadas no bimestre corrente.
            </article>
            <br>
            <a class="btn btn-primary btn-lg" href="{% url 'paginas:inicio' %}" role="button">Início</a>
        </div>
    </div>
<br>
     {% endblock %}